

.header {
  background: olivedrab;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 15px;
}

.nav-list {
  list-style: none;
  text-align: center;
}

.nav-list li {
  display: inline;
  border-radius: 5px;
  border: solid 1px black;
  margin: 3px;
  padding: 2px;
}

.nav-list li:hover {
  border: solid 2px black;
}

.nav-list a {
  text-decoration: none;
}



.list-editor, .start-btn-box {
  background: wheat;
  margin: 30px 400px;
  padding: 30px;
  border: solid 2px rgb(167, 167, 167);
  box-shadow: 4px 4px 5px lightgray;
  border-radius: 5px;
}

.list-editor button{
  border-radius: 5px;
  margin: 3px;
}

#edit-tools {
  display: none;
}

.start-btn-box {
  padding: 50px;
  text-align: center; 
}

.start-btn {
  background: lightseagreen;
  color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 5px lightgray;
  padding: 10px 20px;
}

.list {
  background: burlywood;
  border: solid 2px rgb(167, 167, 167);
  box-shadow: 4px 4px 5px lightgray;
  border-radius: 5px;
  margin: 30px 50px;
  padding: 30px;
}

.list-header {
  text-align: center;
  color: rgb(87, 87, 87);
}

.item-box {
  background: white;
}

.list ul {
  list-style: none;
}

.list-item {
  list-style-type: none;
  text-align: left;
  padding: 3px 10px;
  background: white;
}

.list-item:nth-child(2n + 1) {
  background: lightgray;
}

.itemDetails {
  color: rgb(92, 92, 92);
}

.icon-trash::after {
    font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f2ed";
  }


.about-box {
  background: wheat;
  margin: 30px 400px;
  padding: 30px;
  border: solid 2px rgb(167, 167, 167);
  box-shadow: 4px 4px 5px lightgray;
  border-radius: 5px;
}

.about-box {
color: rgb(87, 87, 87);
}